# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)

# disable directory listing
Options -Indexes +FollowSymLinks

RewriteEngine on
RewriteOptions Inherit

# Funciona
# URL amigable tipo .../app_root/parametro1/parametro2/parametro3/parametro4/
# Atención que \w = [a-z09_] Otros caracteres no serán detectados como válidos.
RewriteCond %{REQUEST_URI} !(recursos/.*)
RewriteRule (.*) index.php [QSA,L,NS]
